<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
    <title>Corazon de Cupcake</title>
  </head>

<body>
  <header>
    <img src="/img/logo.png" height="180px" width="250px" alt="logo of corazon de cupcake">
  </header>
  {{body}}
</body>
</html>
