<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Corazon De Cupcake</title>

  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--FONTS-->
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <!--JS IMPORTS-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!--bootstrap-->

  <!--jquery-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  </head>

  <body>

   <div class="bg-img container-fluid">
       <div class="container-fluid row">
           <div id="image" class="container col-sm-4"><img class="d-block rounded img-fluid" src="/img/logo.png" alt="logo"></div>
           <div class="container col-sm-5"><p class="h1" style=>Corazon de Cupcake</p></div>
       </div>

        <div id="messageContainer" class="container-fluid ">
            <p id="messageTitle" class="text-wrap text-center">Estamos por llegar!</p>
            <p id="messageBody" class="text-wrap text-center">Gracias por su visita pero aun estamos haciendo unos pequeños ajustes a la
            pagina para bindarle un mejor servicio. <i class='fas fa-wrench' style='font-size:36px'></i> <i class='fas fa-toolbox' style='font-size:36px'></i> <i class='fas fa-pencil-ruler' style='font-size:36px'></i>
        </p>
        </div>
    </div>
    <!-- Footer -->
    <div class=" container-fluid footer">
        <p>Visita nuestras redes sociales:</p>
        <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
        <a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
        <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
    </div>
  </body>
</html>
